/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #555;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */
/* @imyjimmy */
html,
body {
  height: 100%;
  background-color: #fff;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}