
@font-face {
  font-family: 'ImprintMT-Shadow';
  src: url('/static/fonts/ImprintMT-Shadow.eot?#iefix') format('embedded-opentype'),  
  url('/static/fonts/ImprintMT-Shadow.woff') format('woff'), 
  url('/static/fonts/ImprintMT-Shadow.ttf')  format('truetype'), 
  url('/static/fonts/ImprintMT-Shadow.svg#ImprintMT-Shadow') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { 
	/*font-family: 'ImprintMT-Shadow';*/
  font-family: 'Scheherazade', serif;
  font-size: 28px;
  overflow: auto;
}

#iaf-logo {
  width: 80%;
}

.masthead {
  position: absolute;
  top: -160px;
}

.mastfoot {
  position: absolute;
  bottom: -25px;
}

.cover-heading {
  font-size: 44px;
  margin-bottom: 0px;
}

.lead {
  font-size: 24px;
}

#searchBar {
  font-size: 16px;
  margin: 0 auto;
  /*width: 40%;*/
}

input[type="search"] {
  width: 40%;
}

.searchResult {
  position: relative;
  width: 90vw;
  left: calc(-45vw + 50%);
  font-size: 18px;
  /*white-space: nowrap;*/
}

.cell {
  max-width: 100px;
  min-height: 80px;
  overflow: visible;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}

/* Start the vertical centering */
.site-wrapper-inner {
  position: relative;
  top: 20%;
}

@-moz-document url-prefix() { 
  .site-wrapper-inner {
     padding-top: 15%;
  }
}

.navbar .navbar-nav{
	display: inline-block;
	float: none;
}

.navbar-default {
  font-size: 1.2em;
}

.navbar .navbar-collapse{
	text-align: center;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: rgba(0,0,0,0);
  text-decoration: underline;
}