    [% BLOCK navbar %]
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container-fluid collapse navbar-collapse">
        <a class="navbar-brand" href="./"><img id="iaf-logo" src="[% c.uri_for('/static/images/logo.svg') %]" alt='logo'></a>
        <ul class="nav navbar-nav navbar-right">
          <li [% IF active_page == 'index' %] class="active" [% END %]><a href="./">Home</a></li>
          <li class="[% IF active_page == 'browse' %]active[% END %] dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Chr <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="./gene">Gene</a></li>
              <li><a href="./chr">Chromosome</a></li>
              <!-- <li class="divider"></li> -->
             <!--  <li><a href="#contact">Contact Us</a></li> -->
            </ul>
          </li>
          <li><a href="/sources.html">Sources</a></li><!-- download the compiled vcf, other code, github-->
          <li><a href="/methods.html">Methods</a></li> <!-- brief summary, how it was put together -->
          <li><a href="/about.html">About</a></li> <!-- about the lab, the people -->
          <!-- <li class="divider-vertical"></li> -->
        </ul>
      </div>
    </nav>
    [% END %]