{% extends "base_template.html" %}
{% block mainContent %}
  <div class="row" style="z-index: 1000;">
    <div class="col-md-6 col-md-offset-3">
  {% block searchForm %}
    {{ super() }}
  {% endblock %}
    </div>
  
  <div class="searchResult">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
      <li role="presentation"><a href="#vcf" data-toggle="tab">VCF</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="summary">
        {{ h|safe }}
      </div>
      <div class="tab-pane" id="vcf">vcf content forthcoming</div>
    </div>
  </div><!--searchResult -->
{% endblock %}